{% extends "drug_store/base.html" %}
{% block navbar_content_right %}

    <li class="nav-item">
        <a class="nav-link" href="{% url 'orders' %}">Orders</a>
    </li>

{% endblock %}

{% block content %}
    {% if orders.count %}
        <table class="table w-50 mx-auto">
            <thead>
            <tr>
                <th scope="col" class="text-center">Id</th>
                <th scope="col" class="text-center">Product</th>
                <th scope="col" class="text-center">Amount</th>
                <th scope="col" class="text-center">Cost</th>
                <th scope="col" class="text-center"></th>
            </tr>
            </thead>
            <tbody class="table_borders">
            {% for order in orders %}
                <tr>
                    <td class="text-center"><span> {{ order.pk }} </span></td>
                    <td class="text-center"><span> {{ order.product.name }} </span></td>
                    <td class="text-center"><span> {{ order.amount }} </span></td>
                    <td class="text-center"><span> {{ order.get_cost }} </span></td>
                    <td>
                        <form method="post" action="{% url "delete_order_from_cart" order.pk %}">
                            {% csrf_token %}
                            <div class="d-grid gap-2">
                                <input class="btn btn-danger mx-auto" type="submit" value="Delete"/>
                            </div>
                        </form>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>

        <div class="btn-group-h mx-auto w-25">

             <form class="btn" method="post" action="{% url 'checkout' %}" >
                 {% csrf_token %}
                 <input class="btn btn-secondary" type="submit" value="Checkout"/>
             </form>

            <form class="btn" method="post" action="{% url 'clear_cart' %}">
                {% csrf_token %}
                <input class="btn btn-secondary" type="submit" value="Clear cart">
            </form>
        </div>
    {% else %}
        <h2 style="text-align: center;" class="mt-5">Cart is empty</h2>
    {% endif %}
{% endblock %}