{% extends "drug_store/base.html" %}

{% block content %}
    {% if orders.count %}
         <table class="table w-50 mx-auto border-danger">
            <thead>
            <tr>
                <th scope="col" class="text-white">Product</th>
                <th scope="col" class="text-white">Amount</th>
                <th scope="col" class="text-white">Cost</th>
                <th scope="col" class="text-white">Status</th>
                <th scope="col" class="text-white"></th>
            </tr>
            </thead>
            <tbody class="table_borders">
                {% for order in orders %}
                    <tr>
                        <td class="text-white"><span> {{ order.product.name }} </span></td>
                        <td class="text-white"><span> {{ order.amount }} </span></td>
                        <td class="text-white"><span> {{ order.get_cost }} </span></td>
                        <td class="text-white"><span> {{ order.status }} </span></td>
                        <td>
                            <form method="post" action="{% url "delete_order_from_history" order.pk %}">
                                {% csrf_token %}
                                <div class="d-grid gap-2">
                                    <input class="btn btn-outline-light mx-auto" type="submit" value="Delete"/>
                                </div>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2 style="text-align: center" class="m-5">No orders</h2>
    {% endif %}

{% endblock %}