{% extends "drug_store/base.html" %}

{% block content %}
     <table class="table w-50 mx-auto">
        <thead>
        <tr>
            <th scope="col" class="text-center">Id</th>
            <th scope="col" class="text-center">Product</th>
            <th scope="col" class="text-center">Amount</th>
            <th scope="col" class="text-center">Cost</th>
            <th scope="col" class="text-center">Status</th>
            <th scope="col" class="text-center"></th>
        </tr>
        </thead>
        <tbody class="table_borders">
            {% for order in orders %}
                <tr>
                    <td class="text-center"><span> {{ order.pk }} </span></td>
                    <td class="text-center"><span> {{ order.product.name }} </span></td>
                    <td class="text-center"><span> {{ order.amount }} </span></td>
                    <td class="text-center"><span> {{ order.get_cost }} </span></td>
                    <td class="text-center"><span> {{ order.status }} </span></td>
                    <td>
                        <form method="post" action="{% url "delete_order_from_history" order.pk %}">
                            {% csrf_token %}
                            <div class="d-grid gap-2">
                                <input class="btn btn-danger mx-auto" type="submit" value="Delete"/>
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}