{% extends 'drug_store/base.html' %}

{% block title %}Registration{% endblock title %}

{% block content %}
<h2 class="text m-5">Login</h2>

<form method="post">
    {% csrf_token %}
    <div class="form-error mx-auto"> {{ form.non_field_errors }}</div>
    {% for f in form %}
        <div class="mb-3 mx-auto mt-5" style="width: 14%">
            <label class="form-label"> {{ f.label}}:</label>
            <p>{{ f }}</p>
            <div class="form-error mx-auto">{{ f.errors }}</div>
        </div>
    {% endfor %}
    <div class="d-grid gap-2">
        <input class="btn btn-primary mx-auto" type="submit" value="Login in"/>
    </div>
</form>

{% endblock %}