{% extends 'drug_store/base.html' %}

{% block title %}Updating{% endblock title %}

{% block content %}
<div class="container-fluid pt-5 w-25 align-items-center">
    <h2 class="text m-5">Update product:</h2>
    <form method="post" enctype="multipart/form-data" action="{% url "update_product" product.pk%}" >
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2">
            <input class="btn btn-primary mx-auto" type="submit" value="Update product"/>
        </div>
    </form>
</div>
{% endblock %}